$main-background: #f8f8ff;
$box-shadow-color: #454545;
$white: #ffffff;
$black: #000000;
$purple: #b6257b;
$light-grey: rgba(211, 211, 211, 0.3);
$graphite: #919191;

$base-font-size: 1.6rem;
$m-font-size: 2rem;
$l-font-size: 2.8rem;
$xl-font-size: 3.6rem;

$base-offset-xxx-sm: 0.4rem;
$base-offset-xx-sm: 0.8rem;
$base-offset-x-sm: 1.2rem;
$base-offset-sm: 1.6rem;
